header {
    background-color: #1b2838;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.logoimg{
    width: 5%;
    justify-content: flex-start;
    align-self: flex-start;

}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: burlywood;
}

.footer {
    background-color: #1b2838;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}