*{
    background-color: gray;
}

li,a{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:darkred;
    text-decoration: none;
    
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    flex-direction: row;
}
.logoimg{
    cursor: pointer; 
}

.navs{
    list-style: none;
}
.navs li{
    display: inline-block;
    padding:0px 20px;
}
.navs li a{
    transition: all 0.3s ease 0s;

}
.navs li a:hover{
    color: red;
    
}